<div style="margin-top: 10px" class="ui stackable grid container">
  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">
      {{ site.data.bio.basics.name }}
    </h2>
  </div>

  <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
  </div>

  <div class="eight wide right aligned column">
    {% include bio-address.html %}
  </div>
</div>

<div style="margin-bottom: 20px" class="ui stackable grid container">
  <div class="middle aligned column">
    <a
      src="https://drive.google.com/file/d/1CIy8NXizTGdOLvEzz1ZseWwaEqJx5WvB/view?fbclid=IwAR0F0vnW6sSgB_yGLVgjpU2JrdnJ5wmzcUAqFkUTippwC3G8apRh0BB2-3w"
      target="_blank"
    >
      <i class="big red google drive icon"></i>
    </a>
  </div>
</div>
